footer{
   
    background-color:black;
    p{
        color: aliceblue;
    }
  
    margin-top: 4%;
    .foter-nav{
        display: flex;
        margin-left: 100px;
        color: aliceblue;
        align-items: center;
        padding: 40px;
        gap: 10px;
        h2{
            font-size: 24px;
        }
        p{
            font-size: 10px;
        }
    }
    .foter-border{
        margin: auto;
        width: 85%;
        color: aliceblue;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foter-desc{
        margin-top: 4%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .foter-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
      
    }
    .foter-input{
        display: flex;
        flex-direction: column;
        gap: 10px;
        form{
            input{
                padding: 10px;
            }
            button{
                padding: 10px;
                background-color: black;
                color: aliceblue;
            }
        }
    }
    .foter-end{
        margin-top: 4%;
        display: flex;
        margin-left: 22%;
        text-align: start;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width:880px){
   footer{
    width: 100%;
    p{
        font-size: 10px;
    }
    .foter-input{
        form{
            input{
                padding: 5px;
            }
            button{
                padding: 5px;
              
            }
        }
    }
   }
  }
  @media (max-width:880px){
    footer{
     width: 100%;
     p{
         font-size: 8px;
     }
    }
}